:host {
  height: 80px;
}
.finder-form-field {
  width: 400px;
  
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

/* input color class */
::ng-deep input.mat-input-element.finder-form-field {
  color: #fff;
}

/* Change label color */
::ng-deep .mat-form-field.finder-form-field .mat-form-field-label {
  color: #fff !important;
}

/* underline border color */
::ng-deep .finder-form-field .mat-form-field-underline .mat-form-field-ripple{
  background-color: #fff !important;
}

/* Change label color on focused */
::ng-deep .finder-form-field .mat-form-field.mat-focused .mat-form-field-label {
  color: #fff !important;
}

/* underline border color on focused */
::ng-deep .finder-form-field .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #fff !important;
}

::ng-deep .finder-form-field .mat-progress-spinner circle {
  stroke: #fff;
} 

::ng-deep .finder-form-field.mat-form-field .mat-form-field-wrapper {
  padding: 0.56em 0 1.34375em 0;
}
::ng-deep .finder-form-field.mat-form-field .mat-form-field-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #237dd1 !important;
  border-radius: 4px;
}
::ng-deep .finder-form-field.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(255 255 255 / 19%);
}
::ng-deep .mat-form-field .mat-form-field-outline {
  background-color: white;
  
}

.mat-form-field-appearance-outline .mat-form-field-suffix {
  align-self: center;
}
