<div class="auth-wrapper animate__animated animate__fadeIn">
    <div class="login-card">
        <form class="login-form" [formGroup]="signupForm" (ngSubmit)="registerUser()">
            <h2>Sign up</h2>
            <p>Create your account</p>

            <hlm-field>
                <label hlmLabel>Name</label>
                <input hlmInput type="text" formControlName="name" placeholder="Enter name" required />
            </hlm-field>

            <hlm-field>
                <label hlmLabel>Email address</label>
                <input hlmInput type="email" formControlName="email" placeholder="Enter email" required />
            </hlm-field>

            <hlm-field>
                <label hlmLabel>Password</label>
                <input hlmInput type="password" formControlName="password" placeholder="Password" required />
            </hlm-field>

            <button type="submit" hlmBtn class="w-full">Sign up</button>
        </form>
    </div>
</div>
