node_modules
dist
.env
.vscode
yarn-error.log
data
logs
logs/debug.log
logs/error.log
logs/info.log
src/contexts/shop/shared/infrastructure/config/default.json
src/contexts/shop/shared/infrastructure/config/test.json
src/contexts/backoffice/shared/infrastructure/config/default.json
src/contexts/backoffice/shared/infrastructure/config/test.json
data