.row {
  width: 100%;
  display: flex;
}

.row .col {
  width: 50%;
}

.img-wrapper { text-align: center;padding-top: 25px;}

img {
  width: 100%;
  margin: 0 auto;
}

.product-detail .add-to-cart {
  margin: 20px 0;
}