@let product = product$ | async;

@if (product) {
    <div class="product-detail animate__animated animate__fadeIn">
        @if (!isLoading) {
            <div class="flex flex-col gap-6">
                <div class="flex gap-6">
                    <div class="w-1/2 img-wrapper">
                        <img [src]="product | image" />
                    </div>
                    <div class="w-1/2 flex flex-col gap-3">
                        <h1>{{ product.name }}</h1>
                        <h4>{{ product.price | currency }}</h4>
                        <p>{{ product.brand }}</p>
                        <p>{{ product.category }}</p>
                        <div class="flex flex-col gap-2">
                            <button hlmBtn type="button" (click)="addToCart()" class="add-to-cart">
                                Add to cart
                                <ng-icon name="lucideShoppingCart" />
                            </button>
                            <button hlmBtn variant="outline" type="button" (click)="share()" [disabled]="isLoading">
                                Share
                                @if (isLoading) {
                                    <hlm-spinner size="sm" />
                                } @else {
                                    <ng-icon name="lucideShare2" />
                                }
                            </button>
                        </div>
                    </div>
                </div>

                <div hlmTabs tab="reviews">
                    <div hlmTabsList>
                        <button hlmTabsTrigger="reviews">Reviews</button>
                        <button hlmTabsTrigger="description">Description</button>
                        <button hlmTabsTrigger="caracteristics">Caracteristics</button>
                    </div>
                    <div hlmTabsContent="reviews">
                        <h2>Reviews</h2>
                        <app-product-reviews [productId]="product.id"></app-product-reviews>
                    </div>
                    <div hlmTabsContent="description">
                        {{ product.description }}
                    </div>
                    <div hlmTabsContent="caracteristics">
                        <table>
                            <tr>
                                <th>Brand</th>
                                <td>{{ product.brand }}</td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>{{ product.category }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (isLoading) {
    <hlm-spinner class="mx-auto" data-test="progress-spinner-2" />
}
