/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  min-height: 60px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar a {
  text-decoration: none;
}

app-top-bar h1 {
  color: #303030;
  margin: 0;
}

app-top-bar .v-centered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Checkout Cart, Shipping Prices */

.cart-item,
.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eeeeee;
}

.text-center {
  text-align: center;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
  color: #286f00 !important;
}
.colored-toast.swal2-icon-success .swal2-title {
  background-color: #a5dc86 !important;
  color: #286f00 !important;
}

.colored-toast .swal2-html-container {
  color: #286f00 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}