<div hlmAutocomplete (searchChange)="onSearchChange($event)">
    <hlm-autocomplete-input placeholder="Search..." />

    <hlm-autocomplete-content *hlmAutocompletePortal>
        @if (loading) {
            <div class="flex justify-center p-3">
                <hlm-spinner />
            </div>
        }
        <hlm-autocomplete-empty>No products found</hlm-autocomplete-empty>
        <div hlmAutocompleteList>
            @for (product of filteredProducts; track product.id) {
                <hlm-autocomplete-item [value]="product.name" [routerLink]="['/products', product.id]">
                    <img class="inline-block align-middle mr-2" aria-hidden [src]="product | image" height="25" />
                    <span>{{ product.name }}</span>
                    <small class="text-muted-foreground ml-1">{{ product.price | currency }}</small>
                </hlm-autocomplete-item>
            }
        </div>
    </hlm-autocomplete-content>
</div>
