<h2>Orders</h2>

@if (isLoading) {
    <hlm-spinner class="mx-auto" data-test="progress-spinner-2" />
}

<div class="order-list animate__animated animate__fadeIn">
    <div hlmTableContainer>
        <table hlmTable>
            <thead hlmTHead>
                <tr hlmTr>
                    <th hlmTh>Name</th>
                    <th hlmTh>Address</th>
                    <th hlmTh>Total</th>
                    <th hlmTh>Actions</th>
                </tr>
            </thead>
            <tbody hlmTBody>
                @for (order of orders$ | async; track order.id) {
                    <tr hlmTr>
                        <td hlmTd>{{ order.name }}</td>
                        <td hlmTd>{{ order.address }}</td>
                        <td hlmTd>{{ order.total | currency }}</td>
                        <td hlmTd>
                            <button hlmBtn size="icon" variant="outline" type="button" [routerLink]="['/orders', order.id]">
                                <ng-icon name="lucideArrowRight" />
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
