<div class="product-list">
  <article *ngFor="let product of products$ | async">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        <img
          [src]="
            product.image ||
            'https://upload.wikimedia.org/wikipedia/commons/1/14/Product_sample_icon_picture.png'
          "
        />        
      </a>      
    </h3>
    <h4>{{ product.name }}</h4>

   <button
      [routerLink]="['/products', product.id]"
        mat-icon-button
        class="article-button"
      >
        <mat-icon>search</mat-icon>
      </button>

    <p *ngIf="product.price">{{ product.price | currency }}</p>
    
  </article>
</div>
<mat-progress-spinner *ngIf="isLoading"
  mode="indeterminate"
  data-test="progress-spinner-2"
  style="margin:0 auto;"
></mat-progress-spinner>
