.cart-table {
width: 100%;
}

.mat-column-actions {
width: 32px;
padding-right: 24px;
text-align: center;
}

.mat-column-name {
padding-left: 16px;
font-size: 20px;
}

.mat-column-price {
font-style: italic;
}

.mat-column-qty {
    font-style: italic;
}