ul{
    list-style: none;
    padding: 0;
}

li{
    background-color: #f9f9f9;
    padding: 10px;
    margin: 0;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0;
    justify-content: space-between;
}

li div {
    margin-bottom: 10px;
}

.user {
    font-size: 10px;
    color: #aaa;
    width: 100%;
}

.rating {
    width: 90% ;
}

.rating .filled {
    color: #ffc800;
}

.edit {
    width: 10%;
    cursor: pointer;
    text-align: right;
}

.edit mat-icon{
    font-size: 16px;
}

.comment{
    width: 100%;
}