<div>
    @if (shouldShowForm) {
        <form [formGroup]="reviewForm" data-test="review-form" class="flex flex-col gap-4">
            <coal-star-rating [formControl]="rating"></coal-star-rating>

            <hlm-field>
                <label hlmLabel>Add your review:</label>
                <textarea
                    hlmTextarea
                    formControlName="comment"
                    placeholder="Place here your review"
                    rows="4"
                ></textarea>
                @if (invalidInput('comment')) {
                    <hlm-field-error>{{ commentErrorMsg }}</hlm-field-error>
                }
            </hlm-field>

            <div class="flex justify-end">
                <button
                    hlmBtn
                    type="submit"
                    (click)="saveReview()"
                    [hlmTooltip]="'Save'"
                    data-test="save-review-btn"
                >
                    <ng-icon name="lucideSave" />
                    Send review
                </button>
            </div>
        </form>
    }

    <ul class="mt-4">
        @for (review of reviews; track review.id) {
            <li>
                <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track $index) {
                        <ng-icon
                            name="lucideStar"
                            [class.filled]="star <= review.rating"
                        ></ng-icon>
                    }
                </div>
                @if (review.userId === userId) {
                    <div class="edit">
                        <ng-icon
                            name="lucidePencil"
                            (click)="edit(review)"
                            data-test="edit-review-btn"
                        ></ng-icon>
                    </div>
                }
                <div class="user">{{ review.userId }}</div>
                <div class="date">{{ review.createdAt | date: 'YYYY-MM-dd hh:mm' }}</div>
                <div class="comment">{{ review.comment }}</div>
            </li>
        }
    </ul>
</div>
