<div class="container">
    @if (shouldShowForm) {
        <form [formGroup]="reviewForm" data-test="review-form">
            <div class="row">
                <div class="col-md-12">
                    <coal-star-rating [formControl]="rating"></coal-star-rating>
                    <mat-form-field>
                        <mat-label>Add your review: </mat-label>
                        <textarea
                            class="form-control"
                            formControlName="comment"
                            placeholder="Place here your review"
                            matInput
                            rows="4"></textarea>
                        @if (invalidInput("comment")) {
                            <mat-error>{{ commentErrorMsg }}</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <button
                        mat-flat-button
                        type="submit"
                        color="primary"
                        (click)="saveReview()"
                        class="btn btn-primary float-end"
                        data-test="save-review-btn">
                        <mat-icon mat-icon matTooltip="Save">save</mat-icon>
                        Send review
                    </button>
                </div>
            </div>
        </form>
    }

    <!-- 
  <p>value: {{reviewForm.value | json}}</p>
  <p>status: {{reviewForm.status | json}}</p>
  <p>pristine: {{reviewForm.pristine| json}}</p>
  <p>errors: {{reviewForm.errors | json}}</p>
  <p>invalid input comment: {{invalidInput('comment')}}</p>
  <p>invalid comment: {{reviewForm.get('comment').invalid | json}}</p>
  <p>errors comment: {{reviewForm.get('comment').errors | json}}</p>
  <p>invalid rating: {{reviewForm.get('rating').invalid | json}}</p>
  <p>errors rating: {{reviewForm.get('rating').errors | json}}</p> 
  -->

    <div class="row">
        <div class="col-md-12">
            @for (review of reviews; track review.id) {
                <ul>
                    <li>
                        <div class="rating">
                            @for (star of [1, 2, 3, 4, 5]; track $index) {
                                <ng-container>
                                    <mat-icon fontIcon="star" [class.filled]="star <= review.rating"></mat-icon>
                                </ng-container>
                            }
                        </div>
                        @if (review.userId === userId) {
                            <div class="edit" *ngIf="review.userId === userId">
                                <mat-icon (click)="edit(review)" data-test="edit-review-btn">edit</mat-icon>
                            </div>
                        }

                        <div class="user">{{ review.userId }}</div>
                        <div class="date">{{ review.createdAt | date: "YYYY-MM-dd hh:mm" }}</div>
                        <div class="comment">{{ review.comment }}</div>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
