<h2>Order Details</h2>

@if (isLoading) {
    <hlm-spinner class="mx-auto" data-test="progress-spinner-2" />
}

@let order = order$ | async;
@if (order && !isLoading) {
    <div class="order-detail animate__animated animate__fadeIn">
        <div class="flex gap-6">
            <div class="w-1/2">
                <h3>{{ order.name }}</h3>
                <p>{{ order.address }}</p>
            </div>
            <div class="w-1/2">
                <div hlmTableContainer>
                    <table hlmTable>
                        <thead hlmTHead>
                            <tr hlmTr>
                                <th hlmTh>Name</th>
                                <th hlmTh>Qty</th>
                                <th hlmTh>Price</th>
                            </tr>
                        </thead>
                        <tbody hlmTBody>
                            @for (item of order.items; track $index) {
                                <tr hlmTr>
                                    <td hlmTd>{{ item.product.name }}</td>
                                    <td hlmTd>{{ item.qty }}</td>
                                    <td hlmTd>{{ item.price | currency }}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <h4>{{ order.total | currency }}</h4>
            </div>
        </div>
    </div>
}
