<div class="auth-wrapper animate__animated animate__fadeIn">
    <div class="login-card">
        <form class="login-form" [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <h2>Login</h2>
            <p>Enter your credentials</p>

            <hlm-field>
                <label hlmLabel>Email</label>
                <input hlmInput type="email" formControlName="email" placeholder="Enter email" required />
            </hlm-field>

            <hlm-field>
                <label hlmLabel>Password</label>
                <input hlmInput type="password" formControlName="password" placeholder="Password" />
            </hlm-field>

            <button type="submit" hlmBtn class="w-full">
                <ng-icon name="lucideLogIn" />
                Sign in
            </button>
        </form>
    </div>
</div>
