<div style="text-align: center">{{ productsCount$ | async }} products</div>
<div class="row">
    <div class="col-md-2">
        @if (resultsWithFilterableFields$()) {
            <coal-filter-bar
                [resultsWithFilterableFields]="resultsWithFilterableFields$()"
                (filtersSelection)="onFilterSelection($event)"></coal-filter-bar>
        }
    </div>
    <div class="col-md-10">
        @if (isLoading) {
            <mat-progress-spinner
                mode="indeterminate"
                data-test="progress-spinner-2"
                style="margin: 0 auto"></mat-progress-spinner>
        }
        <div class="product-list animate__animated animate__fadeIn">
            @for (product of products$ | async; track product.id) {
                <article>
                    <h3>
                        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
                            <img [src]="product | image" />
                        </a>
                    </h3>
                    <h4>{{ product.name }}</h4>
                    @if (product.price) {
                        <p>{{ product.price | currency }}</p>
                    }
                </article>
            }
        </div>
    </div>
</div>
