<div class="text-center">{{ productsCount$ | async }} products</div>
<div class="flex gap-4">
    <div class="w-48 shrink-0">
        @if (resultsWithFilterableFields$()) {
            <coal-filter-bar
                [resultsWithFilterableFields]="resultsWithFilterableFields$()"
                (filtersSelection)="onFilterSelection($event)"></coal-filter-bar>
        }
    </div>
    <div class="flex-1">
        @if (isLoading) {
            <hlm-spinner class="mx-auto" data-test="progress-spinner-2" />
        }
        <div class="product-list animate__animated animate__fadeIn">
            @for (product of products$ | async; track product.id) {
                <article>
                    <h3>
                        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
                            <img [src]="product | image" />
                        </a>
                    </h3>
                    <h4>{{ product.name }}</h4>
                    @if (product.price) {
                        <p>{{ product.price | currency }}</p>
                    }
                </article>
            }
        </div>
    </div>
</div>
